# Copyright (c) 2020 Pete Johanson
# SPDX-License-Identifier: MIT

config SHIELD_MYHAND_LEFT
    def_bool $(shields_list_contains,myhand_left)

config SHIELD_MYHAND_RIGHT 
    def_bool $(shields_list_contains,myhand_right)

config SHIELD_MYHAND_DONGLE
    def_bool $(shields_list_contains,myhand_dongle)
