if SHIELD_MYKEYBALL_RIGHT

config ZMK_KEYBOARD_NAME
    default "MyKeyball"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_MYKEYBALL_LEFT || SHIELD_MYKEYBALL_RIGHT

config ZMK_SPLIT
    default y

endif

